:root {
	/* fonts */
	--main-font: "Open Sans";
	--secondary-font: "Raleway";
	/* text-color */
	--accent-txt-cl: #ff6c00;
	--main-light-theme: #fff;
	--main-dark-theme: #303030;
	/* background-color */
	--dark-bg-color: #191c26;

	/* others */
}

body {
	font-family: var(--main-font), sans-serif;
	font-size: 18px;
	line-height: 1.67;
}

/* Common styles */

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.btn {
	font-family: inherit;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.33;
	letter-spacing: 1.08px;

	background-color: transparent;
	text-transform: uppercase;
}

.btn-mode-light {
	color: var(--main-dark-theme);
}
.btn-mode-dark {
	color: var(--main-light-theme);
}
/* Section Header */

.header {
	background-color: var(--dark-bg-color);
}

.header-link {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 1.2px;

	color: var(--main-light-theme);
}

.header-link:hover,
.header-link:focus {
	color: var(--accent-txt-cl);
}

.header-contact {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 1.2px;

	color: var(--main-light-theme);
	text-transform: uppercase;
}
